.side-bar{
    width: 18em;
    padding: 0.5em 1em;
    height: 100vh;
    z-index: 1;
    background-color: white;
    margin-left: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-property: margin-left;
    transition-duration: .5s;
    margin-left: 0px;
}
.side-bar-mobile {
    position: fixed;
    top: 0;
    left: 0;
}
.side-bar-desktop {
    position: relative;
    top: 0;
    left: 0;
}
.side-bar-item {
    width: 16em;
}
.side-bar-item:hover {
    background-color: #2d2a43b3;
    transition: .3s;
    border-radius: 1rem;
    cursor: pointer;
    color: #FFF;
}
.button {
    width: 70%;
    padding: 0.8em 2em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
    transition: .5s;
}
.login {
    background-color: #2D2A43;
    color: white;
    border: 2px solid #2D2A43
}
.login:hover {
    background-color: transparent;
    color: #2D2A43
}
.register {
    border: 2px solid #2D2A43;
    background-color: transparent;
}
.register:hover {
    background-color: #2D2A43;
    color: #FFF;
}
.logout {
    border: 2px solid #2D2A43;
    background-color: transparent;
}
.logout:hover {
    background-color: #2d2a43;
    color: #FFF;
}
.slide-out {
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    padding: 2em;
}
.slide-out:hover {
    background-color: rgba(0,0,0,0.06);
}

@media (max-width: 900px) {
    .side-bar {
        width: 100%;
        box-shadow: none;
    }
    .side-bar-item {
        width: 70%;
    }
}